body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(248, 247, 245, 0.61);
   
}
p,li {
    letter-spacing: 1px;
    line-height: 24px;
}
header{
    display: flex;
    justify-content: space-between;
    margin: 20px 20px 0px 20px;
}
.header__title{ 
    position: relative; 
    bottom: 21px;
}
.header__items{
    text-decoration: none;
    color: black;
    padding: 10px;
    cursor: pointer;

}
.header__items--underline:hover{ text-decoration: underline;}
.main{
    position: relative;
    top: 50px;
    left: 250px;
    display: flex;
    border: 1px solid none;
    width: 800px;
    
}
.main__img{
    height:300px;
    width: 300px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 32px;
    


}

.main__description{
    position: relative;
    bottom: 20px;
}

.main__btn { 
    position: relative; 
    display: inline-block;
    text-decoration: none;
    color: black;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    cursor: pointer;
}

.main__btn:nth-child(1){ background-color: orange; margin-right: 16px;}
.main__btn--bg1:nth-child(1):hover{ background-color: rgb(182, 123, 15);}
.main__btn:nth-child(2){ background-color: red; margin-right: 16px}
.main__btn--bg2:nth-child(2):hover{ background-color: rgb(201, 16, 16);}
.main__btn:nth-child(3){ background-color: rgb(118, 173, 218);}
.main__btn--bg3:nth-child(3):hover{ background-color: rgb(78, 133, 177);;}


.footer{
    margin: 150px 100px 0px 100px;
    border-top: 2px solid rgba(0, 0, 0, 0.13);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.footer__ico{
    color: black;
    margin-left: 15px;


}

.footer__blk{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 30px;
}
.special{ font-size: 18px; font-weight: bold;}

/* page contact */

.contact{
    position: relative;
    top: 30px;
    margin-top: 70px;
}

.myforms{
    position: relative;
    
    left: 300px;
    bottom: 20px;
}

.ben{
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    
}
.ben1{
    display: flex;
    flex-direction: column;
    margin: 5px;
   
}
.send{
    height: 120px;
    width: 120px;
    border: none;
    background-color: orange;
    border-radius: 50%;
    line-height:  120px;
    text-align: center;
    margin-left: 16px;
    position: relative;
    top: 20px;
    left: 20px;
    cursor: pointer;   
}
.send:hover{ background-color: rgb(206, 141, 21);}
.last-form{
    display: flex;
    flex-direction: row;


    
}

/* le cv */
.mainCv{
    margin: 100px;
    padding: 10px;
}

.formule{
    display: flex;
    justify-content: space-between;
}
.mysection{
    border-top: 2px solid rgba(12, 12, 12, 0.164);
    margin-bottom: 32px 8px;
    padding: 32px;
}

/* projet */
.project1{
    width: 500px;
    padding: 32px;
}
	
